<div class="container-fluid hidden-lg hidden-md hidden-sm mov_nodisponible">
    <div class="row banner fold_primero">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center padding_0px">
            <img class="logo_agentetop" src="/Content/img/logo-agente-top.svg" alt="agente-top" width="368" height="68">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center padding_0px">
            <h1>Accede desde tu computadora</h1>
            <p>Por ahora este proceso no está disponible en móvil.</p>
            <button class="btn btn_primario" onclick="btn_IralHome();">Entendido</button>
        </div>
    </div>
</div>